* {
  box-sizing: border-box;
}

:root {
  --custom-color: #213a70;
  --custom-text-color: #696969;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRowSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoCard {
  top: 85%;
}

.projectCard:hover > .smallCardImage {
  filter: brightness(70%);
}

.projectCard:hover > .infoCard {
  top: 20%;
}
